
{
  "datasource": {
    "type": "vertamedia-clickhouse-datasource",
    "uid": "d47b09dd-8997-42b4-8d5e-a1690f23f55a"
  },
  "fieldConfig": {
    "defaults": {
      "mappings": [
        {
          "options": {
            "1": {
              "color": "semi-dark-red",
              "index": 2,
              "text": "Авария"
            },
            "2": {
              "color": "semi-dark-yellow",
              "index": 1,
              "text": "Внимание"
            },
            "3": {
              "color": "semi-dark-green",
              "index": 0,
              "text": "ОК"
            }
          },
          "type": "value"
        }
      ]
    },
    "overrides": []
  },
  "gridPos": {
    "h": 24,
    "w": 24,
    "x": 0,
    "y": 0
  },
  "id": 1,
  "options": {
    "autoSizeColumns": false,
    "layoutNumColumns": 21,
    "autoSizeRows": false,
    "layoutNumRows": 3,
    "layoutDisplayLimit": 80,
    "autoSizePolygons": false,
    "globalPolygonSize": 120,
    "globalPolygonBorderSize": 2,
    "globalTextFontFamily": "Helvetica",
    "globalAutoScaleFonts": false,
    "globalFontSize": 30,
    "globalTextFontAutoColorEnabled": false,
    "globalTextFontColor": "#000000",
    "ellipseEnabled": true,
    "ellipseCharacters": 15,
    "sortByDirection": 1,
    "sortByField": "name",
    "globalTooltipsEnabled": true,
    "globalTooltipsFontFamily": "Roboto",
    "globalTooltipsShowTimestampEnabled": true,
    "globalShowTooltipColumnHeadersEnabled": true,
    "tooltipDisplayMode": "all",
    "tooltipDisplayTextTriggeredEmpty": "OK",
    "tooltipPrimarySortDirection": 1,
    "tooltipPrimarySortByField": "thresholdLevel",
    "tooltipSecondarySortDirection": 1,
    "tooltipSecondarySortByField": "value",
    "globalDisplayMode": "all",
    "globalDisplayTextTriggeredEmpty": "OK",
    "globalShowValueEnabled": true,
    "globalShape": "square",
    "globalGradientsEnabled": true,
    "globalFillColor": "rgba(10, 85, 161, 1)",
    "globalPolygonBorderColor": "#c4e5e8",
    "globalUnitFormat": "short",
    "globalOperator": "mean",
    "globalDecimals": 2,
    "globalThresholdsConfig": [],
    "globalClickthrough": "",
    "globalClickthroughSanitizedEnabled": true,
    "globalClickthroughNewTabEnabled": true,
    "globalClickthroughCustomTargetEnabled": false,
    "globalClickthroughCustomTarget": "",
    "globalRegexPattern": "",
    "overrideConfig": {
      "overrides": []
    },
    "compositeGlobalAliasingEnabled": false,
    "compositeConfig": {
      "composites": [],
      "enabled": true,
      "animationSpeed": "1500"
    }
  },
  "pluginVersion": "2.1.4",
  "targets": [
    {
      "datasource": {
        "type": "vertamedia-clickhouse-datasource",
        "uid": "d47b09dd-8997-42b4-8d5e-a1690f23f55a"
      },
      "dateTimeType": "DATETIME",
      "extrapolate": true,
      "format": "table",
      "formattedQuery": "SELECT $timeSeries as t, count() FROM $table WHERE $timeFilter GROUP BY t ORDER BY t",
      "intervalFactor": 1,
      "query": "\nSELECT mo_name AS MO, status AS \"-\"\nFROM (\n    SELECT mo_name, status,\n           ROW_NUMBER() OVER (PARTITION BY mo_name ORDER BY ts DESC) AS rn\n    FROM noc.disp_icmp\n    WHERE mo_segment = 'p/pe'\n)\nWHERE rn = 1\nORDER BY mo_name\n",
      "rawQuery": "SELECT mo_name AS MO, status AS \"-\"\nFROM (\n    SELECT mo_name, status,\n           ROW_NUMBER() OVER (PARTITION BY mo_name ORDER BY ts DESC) AS rn\n    FROM noc.disp_icmp\n    WHERE mo_segment = 'p/pe'\n)\nWHERE rn = 1\nORDER BY mo_name",
      "refId": "A",
      "round": "0s",
      "skip_comments": true
    }
  ],
  "title": "Статус Мус",
  "type": "grafana-polystat-panel"
}
